*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

/* Cabecera */
.js .navegacion{
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
    position: absolute;
    top: 75px;
    left: 35px;
    right: 15px;
    background-color: #d03b40;
    border-radius: 3px;
    z-index: 10;
}

.js .navegacion a{
    padding: 10px 15px;
    color: #ded6c0;
    border-bottom: none;
}

.js .navegacion.menu-desplegado{
    max-height: 300px;
}

.navegacion{
    display: none;
}

.navegacion a{
    font-weight: 500;
    display: block;
    text-decoration: none;
    color: #ded6c0;
    border-bottom: 1px solid #ded6c0;
    padding: 10px;
}

.navegacion a:hover,
.navegacion a:active{
    color: #E08DA1;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.lanzador-menu{
    position: absolute;
    right: 15px;
    top: 20px;
}

.lanzador-menu img{
    height: 55px;
    display: block;
    background-color: #d03b40;
}

.logo{
    padding: 15px 0 0 0;
}

.fondo1{
    background-image: url(Imagenes/Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 630px;
    position: relative;
    padding: 0 30px;
}

.fondo1 h1{
    font-size: 35px;
    font-weight: 800;
    color: #f5f0ed;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

h2{
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    padding: 50px 10px;
}

h3{
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 30px;
    color: #3c3c3b;
}

p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #3c3c3b;
}

hr{
    width: 150px;
    border: 2px solid #f5f0ed;
    margin: 0 auto;
}

.fondo1 p{
    font-size: 16px;
    font-weight: 400;
    color: #f5f0ed;
    padding: 30px 20px;
    margin: 0;
    text-align: center;
    line-height: 25px;
}

/* Cuerpo */

.brunch,
.direccion{
    background-color: #d03b40;
    width: 100%;
    min-height: 400px;
    padding: 30px;
    padding-top: 60px;
}

.brunch h2{
    color: #ded6c0;
    margin: 0;
    padding: 0 0 25px 0;
}

.brunch p{
    color: #ded6c0;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.fiestas,
.contacto{
    background-color: #ded6c0;
    width: 100%;
    min-height: 400px;
    padding: 40px;
    padding-top: 60px;
}

.fiestas h2{
    padding: 0 0 30px 0;
    color: #d03b40;
}

.fiestas p{
    color: #d03b40;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.desayuno{
    background-image: url(Imagenes/Fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 50px;
    min-height: 500px;
}

.desayuno h1{
    padding: 30px 20px;
    color: #f5f0ed;
    text-align: center;
}

.desayuno p{
    color: #f5f0ed;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 50px 30px;
}

.boton{
    background-color: transparent;
    color: #ded6c0;
    padding: 14px;
    border: 3px solid #f5f0ed;
    border-radius: 10px;
    width: 60%;
    display: block;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.boton:active {
  transform: scale(0.95);
}

.boton1{
    background: url(Imagenes/Icono1.png) no-repeat 50% 5%;
}

.boton2{
    background: url(Imagenes/Icono2.png) no-repeat 50% 5%;
}

.boton3{
    background: url(Imagenes/Icono3.png) no-repeat 50% 5%;
}

.boton4{
    background: url(Imagenes/Icono4.png) no-repeat 50% 5%;
}

.boton1,
.boton2,
.boton3,
.boton4{
    background-size: 100px;
    background-repeat: no-repeat;
    background-color: #f5f0ed;
    min-height: 400px;
    padding: 30px;
}

.boton1 p,
.boton2 p,
.boton3 p,
.boton4 p{
    padding-left: 0;
    padding-right: 0;
}

.boton1 h2,
.boton2 h2,
.boton3 h2,
.boton4 h2{
    padding-top: 120px;
    padding-bottom: 30px;
}

.contacto{
    padding: 30px;
}

.direccion{
    padding: 60px;
}

.contacto a{
    color: #d03b40;
    font-weight: 800;
    text-decoration: none;
    transition: color .5s;
}

.contacto a:hover{
    color: #d46d71;
}

.contacto h2{
    padding-top: 50px;
    padding-bottom: 30px;
    color: #d03b40;
}

.contacto p{
    padding: 30px 50px;
    color: #d03b40;
    font-weight: 400;
}

.direccion h2{
    padding-top: 50px;
    padding-bottom: 20px;
    color: #ded6c0;
}

.direccion p{
    padding: 30px 10px;
    color: #ded6c0;
}

.direccion a{
    color: #ded6c0;
    font-weight: 800;
    text-decoration: none;
    transition: color .5s;
}

.direccion a:hover{
    color: #b2ab9a;
}

/* Final */

.fecha,
.derechos{
    display: block;
}

.dot{
    display: none;
}

.footer{
    background-color: #241d1b;
    min-height: 100px;
    padding: 25px;
}

.footer p{
    color: #f5f0ed;
    text-align: left;
    padding: 20px 0;
}

/* --- Media queries --- */

@media (min-width: 850px){

    .fondo1 h1{
        font-size: 50px;
    }

    .lanzador-menu{
        display: none;
    }

    .js .navegacion,
    .navegacion{
        display: block;
        position: absolute;
        top: 30px;
        right: 0;
        left: auto;
        max-height: none;
        overflow: visible;
        background-color: transparent;
        border-radius: 0;
    }

    .navegacion ul{
        overflow: hidden;
    }

    .navegacion li{
        float: left;
        margin-right: 10px;
    }

    .js .navegacion a,
    .navegacion a{
        border: none;
        padding: 5px 10px;
    }

    .brunch,
    .fiestas,
    .contacto,
    .direccion{
        width: 50%;
        float: left;
        padding: 30px;
        padding-top: 75px;
    }

    .desayuno{
        width: 100%;
        clear: both;
    }

    .desayuno h1{
        font-size: 40px;
    }
    
    .boton1,
    .boton2,
    .boton3,
    .boton4{
        width: 50%;
        float: left;
        min-height: 400px;
        padding: 20px;
    }

    .boton3,
    .contacto{
        clear: both;
    }

    .footer{
        clear: both;
    }

    .fecha,
    .derechos{
        display: inline;
    }

    .dot{
        display: inline;
    }
}

@media (min-width: 1000px){

    .fondo1 h1{
        font-size: 60px;
    }

    .boton1{
        background: url(Imagenes/Icono1.png) no-repeat scroll 5% 50%;
    }

    .boton2{
        background: url(Imagenes/Icono2.png) no-repeat scroll 5% 50%;
    }

    .boton3{
        background: url(Imagenes/Icono3.png) no-repeat scroll 5% 50%;
    }

    .boton4{
        background: url(Imagenes/Icono4.png) no-repeat scroll 5% 50%;
    }

    .boton1,
    .boton2,
    .boton3,
    .boton4{
        background-size: 160px;
        background-color: #f5f0ed;
        min-height: 500px;
        padding: 10px;
    }

    .boton1 p,
    .boton2 p,
    .boton3 p,
    .boton4 p{
        font-size: 19px;
        padding-left: 199px;
        padding-right: 8px;
        text-align: left;
        margin: 0;
    }

    .boton1 h2,
    .boton2 h2,
    .boton3 h2,
    .boton4 h2{
        font-size: 21px;
        text-align: left;
        padding-left: 199px;
        padding-right: 20px;
        padding-top: 140px;
    }
}

@media (min-width: 1400px){

    .desayuno h1{
        font-size: 50px;
    }
    
    .boton1 p,
    .boton2 p,
    .boton3 p,
    .boton4 p{
        font-size: 23px;
        padding-left: 220px;
        padding-right: 20px;
    }

    .boton1 h2,
    .boton2 h2,
    .boton3 h2,
    .boton4 h2{
        font-size: 28px;
        padding-left: 220px;
        padding-right: 20px;
    }
}